/* h1 {
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
} */

.text-page h3 {
  font-size: 1.777em;
}

.text-page h4 {
  font-size: 1.333em;
  padding: .5em 0;
}

.text-page h5 {
  font-size: 1em;
}

.text-page p, ul, ol, li, {
  color: var(--text);
}

.text-page em {
  padding: .5em 0;
}

.text-page p {
  line-height: 1.5em;
  padding: .5em 1em;
}

.text-page ul {
  padding: .5em 2.5em;
}

.text-page li {
  line-height: 1.5em;
}

.text-page a {
  text-decoration: none;
  color: var(--middle-green);
  font-weight: bold;
}
