:root {
  --text: #363D38;
  --middle-green: #00872D;
  --deep-green: #046D27;
}

/* h1 {
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
} */

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
  padding: .5em 0;
}

h5 {
  font-size: 1em;
}

p, ul, ol, li, {
  color: var(--text);
}

em {
  padding: .5em 0;
}

p {
  line-height: 1.5em;
  padding: .5em 1em;
}

ul {
  padding: .5em 2.5em;
}

li {
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: var(--middle-green);
  font-weight: bold;
}
