:root {
  --light-green: #90DDAA;
  --deep-green: #046D27;
  --light-gray: #e2e2e2;
}

.navButton:hover {
  background: var(--light-gray);
}

.navButton {
  background: #fff;
  cursor: pointer;
}

.current, .current:hover {
  background: var(--light-green);
  color: var(--deep-green);
  cursor: not-allowed;
}
