.navButton:hover {
  background: var(--light-gray);
}

.navButton {
  background: #fff;
  cursor: pointer;
}

.current, .current:hover {
  background: var(--light-green);
  color: var(--deep-green);
  cursor: not-allowed;
}
